<div class="ui-position">
	<p class="debug">Position = {{position}}</p>
	<p class="debug">Model = {{model}}</p>
	<p class="debug">ActiveObject = {{activeobject}}</p>
	<div data-ng-if="blocks.length > 0" class="targetblock-add-element" data-drop="{{position}}-top" data-dropStyle="columnDrop"></div>
	<div data-ng-class="{'targetblock-view-page' : modelType === 'PAGE', 'targetblock-view-pageblock' : modelType === 'PAGEBLOCK'}">
		<div data-ng-if="blocks.length === 0">
			<div class="targetblock-empty" data-drop="{{position}}" data-dropStyle="columnDrop"></div>
		</div>
		<div data-ng-repeat="block in blocks">
			<div class="edit">
				<a href="#" data-ng-click="facade.openModal(block.name)">{{'block-management.edit' | translate}}</a>
				 - 
				<a href="#" data-ng-click="remove($index)">{{'block-management.remove' | translate}}</a>
			</div>
			<data-ng-include src="facade.getParsedBlock(block.name)"></data-ng-include>
		</div>
	</div>
	<div data-ng-if="blocks.length > 0" class="targetblock-add-element" data-drop="{{position}}-bottom" data-dropStyle="columnDrop"></div>
</div>